.App {
  text-align: center;
}

.home-wrap {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  border: 5px solid #ddd;
  padding: 20px;
  /* max-width:  */
}

.main-content h1 {
  margin: 10px auto 40px
}

.main-content input {
  display: block;
  width: 100%;
  padding: 15px;
  box-sizing: border-box;
  font-size: 24px;
}

.main-nav {
  padding: 20px 0;
  background: #cccccc;
  position: fixed;
  top: 0;
  left: 0;
  width: 180px;
  height: 100vh;
  border-right: 1px solid #c0c0c0;
  z-index: 9;
}

.main-nav h1 {
  font-size: 18px;
  text-transform: uppercase;
  color: #888888;
}

.main-nav .online-users .user {
  background: #fafafa;
  margin: 2px 10px;
  padding: 8px 14px;
  text-align: left;
}


.message-list {
  margin-left: 180px;
}

.message-wrap {
  padding: 8px 12px;
  border-bottom: 1px dashed #ddd;
  text-align: left;
}

.message-wrap:nth-child(odd) {
  background: #f0f0f0;
}

.message-wrap .user {
  color: #888888;
  display: block;
  font-size: 14px;
}

.message-wrap .message {
  margin: 5px auto;
}


.message-form-wrap {
  position: fixed;
  bottom: 0;
  left: 180px;
  width: 100%;
  background: #ddd;
  padding: 10px;
  display: flex;
}

.message-form {
  display: block;
  width: 65%;
  box-sizing: border-box;
  padding: 15px;
  font-size: 16px;
  border: 1px solid #d0d0d0;
  border-radius: 8px 0 0 8px;
}

.send-btn {
  float: right;
  display: block;
  width: 10%;
  border: none;
  background: #707070;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 18px;
  border-radius: 0 8px 8px 0;
}

@media screen and (max-width: 600px) {
  .main-nav {
    position: static;
    width: auto;
    height: auto;
  }

  .message-list {
    display: block;
    margin: 0;
  }

  .message-form-wrap {
    width: auto;
    margin: 0;
    left: 0;
    width: 100%;
  }

  .message-form {
    width: 75%;
  }

  .send-btn {
    width: 20%;
  }
}